body {
  margin: 0;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-list {
  margin : 0px -40px !important;
  padding: 0 0; /* 슬라이드 리스트의 여백 제거 */
}
.slick-slide {
  opacity: 1; /* 모든 슬라이드가 동일하게 보이도록 설정 */
  margin : 0px 40px !important;
}
.slick-track {
  display: flex !important; /* 슬라이드 트랙을 flexbox로 설정 */
  align-items: flex-start !important; /* 수직 중앙 정렬 */
  margin-top: 40px !important;
}